html {
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: grid;
    color: #15616D;
    background-color: white;
}

.navbar {
    margin-bottom: 0px;
}

form {
    padding: 15px;
    padding-top: 5px;
    color: white;
    background: darkgrey;
}

#newParentForm {
    display: none;
}

.context-menu{
    display: none;
    position: absolute;
}

ul{
    list-style-type: none;
}

li{
    background-color: #15616D;
    color: white;
    padding: 2px;
    cursor: pointer;
}

li:hover{
    background-color: #55949e;

}

a {
    color: white
}

/* a:hover {
    background-color:#5f9da7;
    color: orange;
} */

.context-menu-active{
    display: overlay;
    position: absolute;
}

#log{
    margin-top: 30px;
}

#heading{
    margin-left: 10px;
}

.control-panel{
    background-color: #15616D;
    color: white;
}

#instructions{
    color: #15616D;
    font-style: oblique;
}

#export-dotfile{
    color:#15616D;
}