html {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100vh; */
}

body {
    display: grid;
    color: #15616D;
    background-color: white;
    /* height: 100; */
}

.navbar {
    margin-bottom: 0px;
}

form {
    padding: 15px;
    padding-top: 5px;
    color: white;
    background: darkgrey;
}

#newParentForm {
    display: none;
}

.context-menu{
    display: none;
    position: absolute;
}

ul{
    list-style-type: none;
}

li{
    background-color: #15616D;
    color: white;
    padding: 2px;
    cursor: pointer;
}

li:hover{
    background-color: #55949e;

}

a {
    color: white
}

/* a:hover {
    background-color:#5f9da7;
    color: orange;
} */

.context-menu-active{
    display: overlay;
    position: absolute;
}

#log{
    margin-top: 30px;
}

#heading{
    margin-left: 10px;
}

.control-panel{
    background-color: #ffffff;
    color: white;
}

#instructions{
    color: #15616D;
    font-style: oblique;
}

#export-dotfile{
    color:#15616D;
}

.approval {
    text-align: center;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    color: white;
    background-color: #008080;
    margin: none;
    height: 30px;
    /* padding-right: 10px; */
    z-index:10;

}
.row {
    width: 100%;
}

.state{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    width: 100%;
}

.small-box > .inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
    text-align: center;
}

.small-box p {
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

.bg-color-one {
    background-color: #00cc66  !important;
}

.bg-color-two {
    background-color: #00ccff !important;
}
.bg-color-three {
    background-color: #ff9999 !important;
}
.bg-color-four {
    background-color: #cccc00 !important;
}