#file-selectors {
    display: grid
}

#uploadDotfileButton {
    width: 30%;
    margin: 1%;
    background: none;
    border: none;
    border-radius: 10%;
    font-size: small;
    height: min-content;
    color:#FF7D00;
}

input {
    height: min-content;
}

label {
    height: min-content;
    font-weight: bold;
    /* vertical-align: top; */
}

#uploadDotfileButton:hover {
    text-decoration: underline;
    color:#78290F;
}

caption{
    color: #FF7D00;
}

.upload{
    margin-top: 10px;
}