.node {
    cursor: pointer;
}

.node circle {
    /* fill: #fff; */
    /* stroke: steelblue; */
    stroke-width: 3px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#svg {
    width: 705px;
    height:800px;
    /* overflow:scroll; Reinstate for dynamic sizing*/
}